.crystal1 {
    background-image: url(../images/blue.jpg);
    background-size:  100%;
}
.crystal2 {
    background-image: url(../images/green.jpg);
    background-size:  100%;
}
.crystal3 {
    background-image: url(../images/purp.jpg);
    background-size:  100%;
}
.crystal4 {
    background-image: url(../images/red.jpg);
    background-size:  100%;
}
