.crystal1 {
    background-image: url(../images/blue.jpg);
}
.crystal2 {
    background-image: url(../images/green.jpg);
}
.crystal3 {
    background-image: url(../images/purp.jpg);
}
.crystal4 {
    background-image: url(../images/red.jpg);
}

body {
    background-image: url(../images/newback.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center !important;
}

#yourPoints, #gameName, #wins, #losses, #randScore, .instructionsContainer, .pointHolder {
    font-size: 1.8rem;

}

.crystal1,.crystal2,.crystal3,.crystal4 {
    cursor: pointer;
    margin-right: 10px;
    background-size:  100%;
}
